body{
    font-family:'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}

.link{
    text-decoration: none;
}

.list{
    list-style-type: none;
}
button{
    cursor: pointer;
}




.logo{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.main-logo{
    color: #2e2f42;
}

.navigation-link{
    color:#2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.navigation-link:hover,
.navigation-link:focus,
.navigation-link:active{
    color: #404BBF;
}
.main-contacts{
    font-style: normal;
}
.contacts-link{
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.contacts-link:hover,
.contacts-link:focus{
    color:#404BBF;
}




.main-section{
    background-color: #2E2F42;
}
.main-title{
    color: #ffffff;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}
.main-button{
    color:  #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
}
.main-button:hover,
.main-button:focus{
background-color: #404BBF;
}


.description-title{
    visibility: hidden;
}
.description-caption{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.description-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


.team-section{
    background-color: #F4F4FD;
}
.teeam-title{
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.team-list-item{
    background-color: #ffffff;
}

.name-title{
    color: #2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.name-text{
    color: #434455;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


.portfolio-title{
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.portfolio-caption{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.portfolio-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}



.footer-aside{
    background-color: #2E2F42;
}
.footer-logo{
    color: #F4F4FD;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.footer-text{
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

